@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Montserrat&family=Poppins&display=swap');

body{
  background-color: rgb(243, 244, 245);
}

h1{
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color: #333333;
  padding-top: 30px;
  font-size: 24px;
}
.title{
  display: block;
  width: auto;
}
li{
  display: inline-block;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  width: 90vw;
  margin: auto;
  padding-top: 50px;
}
.container1{
  width: 100%;
}
.containerform{
  display: flex;
  justify-content: center;
}
/* .tabs{
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.tabsLista{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: Montserrat;
  font-size: 0.8rem;
  margin: 0;

}
.list-tab-element{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 33%;
  border: solid 1px black;
}
.all, .active, .completed{
  padding: 10px; 
  width: 18vw;
  text-align: center;
  background-color: white; 
  border: none;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  border: solid 1px rgb(141, 141, 141);
}
.all-activeTab, .active-activeTab, .completed-activeTab{
  padding: 10px; 
  width: 20vw; 
  text-align: center;
  background-color: white; 
  border: none; 
  font-size: 16px; 
  cursor: pointer;
  outline: none;
  font-weight: bold;
  color: #2F80ED;
  border-bottom: solid 3px #2F80ED;
}

.all:hover, .active:hover, .completed:hover{
  color: #2F80ED;
  border-bottom: solid 2px #2F80ED;
  cursor: pointer;
}
.formulario1{
  background-color: #FFFFFF;
  width: calc(50px + 60vw);
  display: flex;
  border: solid 1px #828282;
  border-radius: 4px;
  outline: none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;  
  margin-top: 20px;
  padding: 4px;
}
.inputnormal{
  border: none;
  outline: none;
  width: calc(100% - 16px);
}
.lista{
  display: flex;
  justify-content: center;
  width: calc(50px + 60vw);
  margin: 8px;
  border-radius: 4px;
  padding: 6px;
}
.lista-items{
  display: flex;
  justify-content: space-between;
}
.lista-active{
  display: flex;
  justify-content: space-between;
  width: calc(50px + 60vw);
  background-color: #FFFFFF;
  border: solid 1px rgb(231, 229, 229);
  margin: 8px;
  border-radius: 4px;
  padding: 6px;
}
.lista-completed{
  display: flex;
  justify-content: space-between;
  width: calc(50px + 60vw);
  text-decoration: line-through;
  background-color: #FFFFFF;
  color: #000000;
  margin: 8px;
  border-radius: 4px;
  padding: 6px;
}
.itemdelista{
  background-color: #fff;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  border-radius: 4px;
  margin: 4px;
}
.buttonDelete{
  display: block;
  margin: auto;
}
.deleteIcon{
  margin: 0 4px 0 4px;
}
.buttonAdd{
  font-family: Montserrat;
  font-style: SemiBold;
  Font-size: 16px;
  width:fit-content;
  height: 36px;
  background-color: #2F80ED;
  color: white;
  border: none;
  outline: none;
  border-radius: 4px;
}
.buttonAdd:hover{
  cursor: pointer;
}
.buttonAdd:active{
  box-shadow: 0 2px #666;
  transform: translateY(2px);
}

.containerCheck{
  position: relative;
  padding-left: 16px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  grid-row: inherit;
  grid-column: 1/2;
}
text{
  grid-column: 2/3;
  width: 80%;
}
.close{
  background-color: white; 
  border: none; 
  font-size: 16px; 
  cursor: pointer; 
}
.close:hover{
  transform: translateY(4px);
}
.label{
  display: flex;
}
.containerCheck input {
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  border: solid 1px #828282;
  border-radius: 4px;
}
/* On mouse-over, add a grey background color */
.containerCheck:hover input ~ .checkmark {
  background-color: #2196F3;
}

.containerCheck input:checked ~ .checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.containerCheck input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.containerCheck .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* .checkbox{
  margin-right: 10px;
}
.far{
  margin-right: 10px;
} */
ul.listGroup{
  text-decoration: none;
  margin: auto;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
/*   margin: 0; */
}
li{
  text-decoration: none;
  list-style: none;
  margin-left: 0;
}
.buttonDanger{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: calc(50px + 60vw);
  height: 36px;
  background-color: #EB5757;
  border: none;
  border-radius: 6px;
  color: #FFFFFF;
  margin: auto;
}

.notificationAll{
  position: relative;
  font-family: Montserrat;
  font-size: 16px;
  top: -50px;
  right: -15vw;
  padding: 8px 10px;
  border-radius: 50%;
}
.notificationActive{
  position: relative;
  font-family: Montserrat;
  font-size: 16px;
  top: -50px;
  right: -15vw;
  padding: 8px 10px;
  border-radius: 50%;
}
.notificationCompleted{
  position: relative;
  font-family: Montserrat;
  font-size: 16px;
  top: -50px;
  right: -15vw;
  padding: 8px 10px;
  border-radius: 50%;
}
.count0{
  display: none;
}
.footer{
  display: flex;
  justify-content: center;
  margin: auto;
  padding-top: 30px;
  position: relative;
  bottom: 0;
  width: 100%;
}
.credits{
  color: #333333;
  padding-bottom: 50px;
  grid-column: 7/11;
  grid-row: 4;
}

.linksexternos{
  text-decoration: none;
  font-family: Montserrat;
  line-height: 17px;
  text-align: center;
  color: #333333;

}
