@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Montserrat&family=Poppins&display=swap');


h1{
  text-align: center;
  color: #333333;
  padding-top: 30px;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}
.tabsLista{
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: Montserrat;

  width: 40vw;
}
.tabsItems{
  padding: 10px; 
  width: 20vw; 
  text-align: center;
  background-color: white; /* Blue background */
  border: none; /* Remove borders */
  font-size: 16px; /* Set a font size */
  cursor: pointer;
  outline: none;
  border-bottom: solid 1px black;
}
.active{
  font-weight: bold;
  color: #2F80ED;
  border-bottom: solid 3px #2F80ED;
}
.tabsItems:hover{
  color: #2F80ED;
  border-bottom: solid 2px #2F80ED;
  cursor: pointer;
}

.lista{
  display: flex;
}
.itemdelista{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}
.grupo1{
  display: grid;
  grid-template-columns: auto;

}
.botonDelete{
  display: flex;
  justify-content: flex-end;
  margin: auto;
}
.leftside{
  grid-row: 1;
  grid-column: 1/2;
  width: 30vw;
  display: flex;
  justify-content: left;
  align-items: center;
  margin: auto;
}
.rightside{
  grid-row: 1;
  grid-column: 2/3;
  margin-left: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.inputNormal{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  display: block;
  width: 26vw;
  height: 36px;
  padding-left: 15px;
  border-radius: 8px;
  border: solid 1px #828282;
  outline: none;
}
.button1{
  font-family: Montserrat;
  font-style: SemiBold;
  Font-size: 14px;
  Line-height: 17px;
  Line-height: 100%;
  grid-row: 1;
  grid-column: 2;
  width: 10vw;
  height: 36px;
  border-radius: 8px;
  background-color: #2F80ED;
  color: white;
  border: none;
  outline: none;
}
.button1:hover{
  cursor: pointer;
}
.button1:active{
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}

.containerCheck{
  display: block;
  position: relative;
  padding-left: 24px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  grid-row: inherit;
  grid-column: 1/2;
  width: 5%;
}
text{
  grid-column: 2/3;
  width: 80%;
}
.close{
  background-color: white; /* Blue background */
  border: none; /* Remove borders */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}
.close:hover{
  transform: translateY(4px);
}

.deleteIcon{
}
.containerCheck input {
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  border: solid 1px #828282;
  border-radius: 4px;
}
/* On mouse-over, add a grey background color */
.containerCheck:hover input ~ .checkmark {
  background-color: #2196F3;
}

/* When the checkbox is checked, add a blue background */
.containerCheck input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.containerCheck input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.containerCheck .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.checkbox{
  margin-right: 10px;
}
.far{
  margin-right: 10px;
}
ul{
  text-decoration: none;
}
li{
  text-decoration: none;
  list-style: none;
}
.buttonDanger{
  display: flex;
  align-items: center;
  padding: 10px;
  width: 10vw;
  height: 36px;
  background-color: #EB5757;
  border: none;
  border-radius: 6px;
  color: #FFFFFF;
}

