@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Montserrat&family=Poppins&display=swap');

.close {
  display: block;
}

/* li:hover .close{
  display: block;
} */

h1{
  text-align: center;
  color: #333333;
  padding-top: 30px;
 
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
/*   box-shadow: 5px 10px 18px #888888; */

  padding-top: 50px;
  
}
.checkbox{
  margin-right: 10px;
}
.far{
  margin-right: 10px;
}
.lista{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin: 10px;
}


